# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Build / output
dist/
build/
coverage/
bin/

# NPM package output
*.tgz

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local Prompt-it data
.prompt-it/
session.json
config.local.json

# Test Folder
test/

# Cache
.cache/
.tmp/
temp/

# Prompt-It
prompt-details.json